body {
  background-color: bisque;
  font-family: "Playwrite DE Grund", cursive;
}
.view {
  background: white;
  max-width: 700px;
  margin: 35px auto;
  box-shadow: 0 30px 50px rgb(202, 197, 197);
  border-radius: 15px;
  padding: 30px;
}

.search-form-input {
  background-color: rgb(245, 240, 255);
  border: none;
  border-radius: 7px;
  width: 70%;
  font-size: 15px;
  padding: 10px 25px;
}

.search-button {
  padding: 10px 25px;
  border: none;
  background: beige;
  color: rgb(129, 15, 236);
  font-size: 15px;
}
